@font-face {
	font-family: SY Sans;
	src: url("/res/fonts/SourceHanSansSC-Regular-2.otf");
}

@font-face {
	font-family: SY Serif;
	src: url("/res/fonts/SourceHanSerifCN-Regular-1.otf");
}

@font-face {
	font-family: Kex Sans;
	src: url("/res/fonts/Kex-Regular3.ttf");
}

@font-face {
	font-family: TNR;
	src: url("/res/fonts/times.ttf");
}

body {
	margin: 0;
	padding: 0;
	background: whitesmoke;
}

*::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

*::-webkit-scrollbar-track {
	background-color: #DDDDDD;
	box-shadow: inset 0 0 6px darkgrey;
}

*::-webkit-scrollbar-thumb {
	background-color: hsl(216, 10%, 60%);
	border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: hsl(216, 60%, 60%);
}


#heading {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: "Kex Sans", "SY Sans", sans-serif;
}

#cover-video {
	min-width: 100%;
	z-index: 0;
	filter: brightness(0.5);
	object-fit: contain;
	overflow-clip-margin: content-box;
	overflow: clip;
	display: inline-block;
	vertical-align: baseline;
	box-sizing: border-box;
}

#cover-text {
	z-index: 99999;
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	-webkit-display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	box-sizing: border-box;
	opacity: 0.9;
}

#cover-text h1 {
	text-align: center;
	color: white;
	font-size: 100pt;
}

p {
	font-family: "Kex Sans", "SY Sans", sans-serif;
}

p strong {
	font-family: "Kex Sans", "SY Sans", sans-serif;
}

#paper {
	margin: 0px 10% 10% 10%;
	padding: 50px;
	box-shadow: 10px 10px 10px 10px #CCC;
	color: #1e1e1e;
	background: white;
}

#paper *:not(i) {
	font-family: "Kex Sans", "SY Sans", sans-serif;
	font-size: 15pt;
}

#paper .sf {
	font-family: "SY Serif", serif;
}

#paper .ipa {
	font-family: "TNR", serif;
}

#paper h1::before {
	content: "》";
	color: hsl(216, 60%, 60%);
}

#paper h1 {
	font-size: 20pt;
	margin-top: 50px;
}

::selection {
	color: white;
	background-color: hsl(216, 60%, 60%);
}

::-moz-selection {
	color: white;
	background-color: hsl(216, 60%, 60%);
}

a {
	color: hsl(216, 60%, 60%);
	text-decoration: none;
	border-bottom: 1px solid hsl(216, 60%, 60%);
	background-color: white;
	transition: background-color 0.2s;
}

a:hover {
	background-color: hsla(216, 60%, 60%, 0.1);
}

nav {
	position: absolute;
	display: flex;
	-webkit-display: flex;
	width: 100%;
	height: 50px;
	background: hsl(216, 60%, 60%);
	z-index: 99999;
	box-shadow: 0px 0px 5px 5px #CCC;
	font-weight: bold;
}

nav a, nav div {
	font-size: 25pt;
	color: hsl(216, 100%, 90%);
	background: hsl(216, 60%, 60%);
	padding: 0 50px 0 50px;
	border: 0;
	transition: color, 0.2s, background 0.2s;
	-webkit-transition: color, 0.2s, background 0.2s;
}

nav a:hover, nav div:hover {
	background: rgb(255, 109, 101);
	color: white;
}

i:not(.lb) {
	margin: 0 10px 0 10px;
}

i .lb {
	margin: 0;
}

button {
	font-size: 20pt;
	outline: none;
	border: 1px solid darkgrey;
	border-radius: 5px;
	transition: filter 0.2s;
	-webkit-transition: filter 0.2s;
	filter: brightness(1.0);
}

button:hover {
	filter: brightness(0.8);
}

.table-out {
	width: 100%;
	display: block;
	overflow-y: auto;
}

table {
	border-collapse: collapse;
	overflow: auto;
}

table .full {
	width: 100%;
}

table, th, tr, td {
	margin: 10px;
	padding: 10px;
	border: 2px solid hsla(216, 60%, 60%, 0.2);
}

table.center td, table.center th {
	text-align: center;
}

#paper .red {
	display: inline;
	background: pink;
	color: tomato;
}

#paper .yellow {
	display: inline;
	background: yellow;
	color: goldenrod;
}

#paper .blue {
	display: inline;
	background: lightskyblue;
	color: blue;
}

#paper .green {
	display: inline;
	background: lightgreen;
	color: green;
}

#paper .purple {
	display: inline;
	background: rgb(255, 180, 255);
	color: purple;
}

#paper .grey {
	display: inline;
	background: grey;
	color: black;
}

spk::before {
	content: "Wi";
	color: rgba(0, 0, 0, 0);
	background: url("/res/volume-high-solid.svg") no-repeat;
}

div.dict {
	background: hsla(216, 60%, 60%, 0.1);
	margin: auto;
	padding: 20px;
	border-radius: 20px;
	border-left: 10px solid hsl(216, 60%, 60%);
	box-shadow: 5px 5px 5px #CCC;
}

div.dict .word {
	font-size: 20pt !important;
	margin: 0 0 20px 0;
/*	font-weight: bold;*/
}

div.dict p.fn {
	color: grey;
	display: inline;
}

div.dict > div {
	margin: 20px 0 0 0;
}

p.il {
	display: inline;
}

img.il {
	height: 1em;
	margin: 0 5px -2px 5px;
}

div.exercise {
	background: hsla(150, 60%, 60%, 0.1);
	margin: auto;
	padding: 20px;
	border-radius: 20px;
	border-left: 10px solid hsl(150, 60%, 60%);
	box-shadow: 5px 5px 5px #CCC;
}

div.exercise .title {
	font-size: 20pt !important;
	margin: 0 0 20px 0;
	font-weight: bold;
}

div.exercise > div {
	margin: 20px 0 0 0;
}

p.index {
	display: inline;
	border-radius: 5px;
	color: white;
	background: hsl(150, 60%, 60%);
	padding: 10px 6px 5px 6px;
	margin-right: 10px;
}

p.question {
	font-weight: bold;
	color: hsl(150, 60%, 60%);
	display: inline;
}
